#actions-page {

}
#action-heading {

}

#action-create-button {
    height: 40px;
    width: 100px;
}

#actions-list {
    display: block;
    overflow-y: scroll;
    min-height: 20%;
    max-height: 70%;
    background-color: inherit;
}