.navigation-header.MuiAppBar-root{
    float: left;
    height: 100%;
    position: relative;
    width: 17%;
    background-color: var(--light-color);
    color: var(--text-color-on-light);
    min-width: 200px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: var(--dark-color-2);
}