:root {
    --dark-color-2: #afafaf;
    --dark-color-1: #d6d6d6;
    --light-color: #f2f2f2;
    --border-raidus-small-fields: 6px;
    /*right now this text color setting doesn't work for popup at all*/
    --text-color-on-light: black;
}